In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
label=pd.read_csv("~/Projects/bbcar_project/bbcar_label.csv", index_col=0)
allsamples=list(pd.read_csv("~/Projects/bbcar_project/all_samples.txt", index_col=0, header=None).index)
ponsamples=list(pd.read_csv("~/Projects/bbcar_project/pon_samples.txt", index_col=0, header=None).index)

In [3]:
print("Number of all samples: {}".format(len(allsamples)))
print("Number of PON samples: {}".format(len(ponsamples)))

Number of all samples: 201
Number of PON samples: 47

In [4]:
## append a new column in the label dataframe to indicate whether that sample is in the PoN
pon_bin = []

for ix in label.index:
    if int(ix) in ponsamples:
        pon_bin.append(1)
    else:
        pon_bin.append(0)

label["PoN"] = pon_bin

In [5]:
label

      label  PoN
1417      0    0
1371      1    0
204       1    1
1074      1    0
1086      1    0
...     ...  ...
1382      1    0
283       1    0
794       0    0
1420      1    1
486       0    0

[201 rows x 2 columns]

In [6]:
# find PoN IDs that are in ponsamples but NOT in label["PoN"]==1
for subid in ponsamples:
    if subid in list(label.index):
        if label.loc[subid]["PoN"]!=1:
            print("Subject ID {} is in the ponsamples list but indicated as 0 in the dataframe.".format(subid))
    else:
        print("Sample ID {} from PoN doesn't seem to be in the label dataframe.".format(subid))

Sample ID 743 from PoN doesn't seem to be in the label dataframe.
Sample ID 1321 from PoN doesn't seem to be in the label dataframe.

In [7]:
pd.DataFrame(
    np.array([label["label"].sum(), len(label["label"])-label["label"].sum()]).reshape((1,2)), 
    index=["Counts"], columns=["Case", "Control"]
)

        Case  Control
Counts   136       65

In [8]:
pd.DataFrame(
    np.array([len(label["PoN"])-label["PoN"].sum(), label["PoN"].sum()]).reshape((1,2)), 
    index=["Counts"], columns=["No germline", "PoN"]
)

        No germline  PoN
Counts          156   45

In [9]:
record = pd.DataFrame(0, index=["Case", "Control"], columns=["No germline", "PoN"])

for ix in label.index:
    if (label.loc[ix]["label"]==1) & (label.loc[ix]["PoN"]==1):
        record.loc["Case"]["PoN"] += 1
    elif (label.loc[ix]["label"]==1) & (label.loc[ix]["PoN"]==0):
        record.loc["Case"]["No germline"] += 1
    elif (label.loc[ix]["label"]==0) & (label.loc[ix]["PoN"]==1):
        record.loc["Control"]["PoN"] += 1
    elif (label.loc[ix]["label"]==0) & (label.loc[ix]["PoN"]==0):
        record.loc["Control"]["No germline"] += 1
    else:
        print("Encountered unexpected value.")

In [10]:
record

         No germline  PoN
Case              99   37
Control           57    8